<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <welcome-file-list>
  	<welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  	<description>weichat</description>
  	<display-name>weichat</display-name>
  	<servlet-name>weichat</servlet-name>
  	<servlet-class>com.zeychen.wxservlet.WeichatServlet</servlet-class>
  </servlet>
   <servlet-mapping>
  	<servlet-name>weichat</servlet-name>
  	<url-pattern>/servlet/weichat</url-pattern>
  	
  </servlet-mapping>
</web-app>
